<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osk.team.dao.ClubDao">

  <resultMap id="clubMap" type="club">
    <id column="cno" property="no"/>
    <result column="carrive" property="arrive"/>
    <result column="ctheme" property="theme"/>
    <result column="ctitle" property="title"/>
    <result column="ccontent" property="content"/>
    <result column="csdt" property="startDate"/>
    <result column="cedt" property="endDate"/>
    <result column="ctotal" property="total"/>

    <association property="writer" javaType="member">
      <id column="writer_no" property="no"/>
      <result column="writer_name" property="name"/>
    </association>

    <association property="members" javaType="member">
      <id column="mno" property="no"/>
      <result column="mname" property="name"/>
    </association>

    <collection property="photos" ofType="photo">
      <result column="c_pho" property="name"/>
    </collection>
  </resultMap>

  <!-- AutoIncrement 값 출력 을 위해 만듬. -->
  <select id="clubcno" resultMap="clubMap" >
    select max(cno) cno from club
  </select>

  <!-- >클럽 게시판에 클럽 삽입<-->
  <insert id="insert" parameterType="club">
    insert into club(cno, mno, carrive, ctheme, ctitle, ccontent, csdt, cedt, ctotal)
    values (#{no}, #{writer.no}, #{arrive}, #{theme},
            #{title}, #{content}, #{startDate}, #{endDate},
            #{total});
  </insert>

  <insert id="insertPhoto" parameterType="photo">
    insert into c_photo(c_pho, cno)
    values (#{name}, #{no})
  </insert>

  <update id="update" parameterType="club">
    update club set
                  ctitle   = #{title},
                  ccontent = #{content}
    where cno = #{no}
  </update>

  <delete id="delete" parameterType="int">
    delete from club
    where cno = #{value}
  </delete>


  <!--사진관련-->

  <delete id="deletePhotos" parameterType="int">
    delete from c_photo
    where cno=#{value}
  </delete>

  <!---->

  <sql id="select1">
    select
      c.cno,
      c.carrive,
      c.csdt,
      c.cedt,
      c.ctheme,
      c.ctotal
    from club c
           inner join member m on m.mno=c.mno
  </sql>

  <select id="findByNo" resultMap="clubMap" parameterType="int">
    select c.cno,
    c.carrive,
    c.ctitle,
    c.ccontent,
    c.ctheme,
    c.csdt,
    c.cedt,
    c.ctotal,
    p.c_pho,<!--사진-->
    m.mno   as writer_no,
    m.mname as writer_name
    from club c
    inner join member m on m.mno = c.mno
    left outer join c_photo p on p.cno = c.cno
    where c.cno = #{value}
    order by cno desc
  </select>

  <select id="findByKeyword" resultMap="clubMap" parameterType="map">
    <include refid="select1"/>
    <if test="value != null">
      where
      c.carrive like concat('%', #{value},'%')
      or c.csdt like concat('%', #{value},'%')
      or c.cedt like concat('%', #{value},'%')
      or c.ctheme like concat('%', #{value},'%')
    </if>
    order by c.cno desc
  </select>

  <select id="findByKeywords" resultMap="clubMap" parameterType="map">
    <include refid="select1"/>
    <where>
      <if test="arrive != null and arrive != ''">
        c.carrive like concat('%', #{arrive}, '%')
      </if>
      <if test="theme != null and theme != ''">
        and c.ctheme like concat('%', #{theme}, '%')
      </if>
      <if test="startDate != null and startDate != ''">
        and c.csdt like concat('%', #{startDate}, '%')
      </if>
      <if test="endDate != null and endDate != ''">
        and c.cedt like concat('%', #{endDate}, '%')
      </if>
    </where>
    order by carrive desc
  </select>

  <!--멤버불러오기-->
  <select id="findMembers" resultType="member" parameterType="int">
    select
      m.mno,
      m.mname,
      m.mphoto,
      m.mtel
    from c_member cm
           inner join member m on cm.mno=m.mno
    where
      cm.cno=#{value}
  </select>

  <!--멤버추가-->
  <insert id="insertMember" parameterType="map">
    insert into c_member(mno,cno,c_mdate)
    values(#{memberNo}, #{clubNo},#{date})
  </insert>

  <insert id="insertMembers" parameterType="map">
    insert into c_member(mno,cno,c_mdate)
    values
    <foreach collection="members" item="m" separator=",">
      (#{m.no}, #{clubNo}, #{date});
    </foreach>
  </insert>

  <!--멤버삭제-->
  <delete id="deleteMembers" parameterType="int">
    delete from c_member
    where cno=#{value}
  </delete>

</mapper>







