<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osk.team.dao.DiscountDao">
  
  <resultMap id="discountMap" type="discount">
    <id column="dno" property="no"/>
    <result column="dtitle" property="title"/>
    <result column="dcontent" property="content"/>
    <result column="ddate" property="date"/>
    <result column="dcount" property="count"/>
    <result column="dphoto" property="photo"/>
    
  </resultMap>
  
  <insert id="insert" parameterType="discount">
    insert into discount(dtitle, dcontent, dphoto, dcount, ddate) 
    values(#{title}, #{content}, #{photo}, #{count}, #{date})
  </insert>

  <select id="findByKeyword" resultMap="discountMap" parameterType="string">
    select
      d.dno,
      d.dtitle,
      d.ddate,
      d.dcontent,
      d.dcount,
      d.dphoto
    from discount d
    
    <if test="value != null">
    where 
      d.dtitle like concat('%', #{value},'%')
      or d.dcontent like concat('%', #{value},'%')
    </if>
    
    order by d.dno desc
  </select>
  
  <select id="findByNo" resultMap="discountMap" parameterType="int">
    select
      d.dno,
      d.dtitle,
      d.ddate,
      d.dcontent,
      d.dcount,
      d.dphoto
    from discount d

    where d.dno = #{value}
  </select>
  
  <update id="updateViewCount" parameterType="int">
    update discount set 
      dcount = dcount + 1 
    where dno = #{value}
  </update>
  
  <update id="update" parameterType="discount">
    update discount 
    <set> 
      <if test="title != ''">dtitle=#{title},</if>
      <if test="content != ''">dcontent=#{content},</if>
      <if test="photo != ''">dphoto=#{photo},</if>
    </set>
    where dno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from discount 
    where dno = #{value}
  </delete>

</mapper>







