<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osk.team.dao.HotplaceDao">
  
  <resultMap id="hotplaceMap" type="hotplace">
    <id column="hno" property="no"/>
    <result column="htitle" property="title"/>
    <result column="hdate" property="date"/>
    <result column="hphoto" property="photo"/>
    <result column="hlat" property="latitude"/>
    <result column="hlng" property="longitude"/>
    
  </resultMap>
  
  <insert id="insert" parameterType="hotplace">
    insert into hotplace(htitle, hcontent, hdate, hphoto, hlat, hlng) 
    values(#{title}, #{content}, #{date}, #{photo}, #{latitude}, #{longitude})
  </insert>
  
  <select id="findByKeyword" resultMap="hotplaceMap" parameterType="string">
    select
      h.hno,
      h.htitle,
      h.hdate,
      h.hcontent,
      h.hphoto,
      h.hlat,
      h.hlng
      
    from hotplace h
    
    order by h.hno desc
  </select>
  
  <select id="findByNo" resultMap="hotplaceMap" parameterType="int">
    select
      h.hno,
      h.htitle,
      h.hdate,
      h.hcontent,
      h.hphoto,
      h.hlat,
      h.hlng
      
    from hotplace h

    where h.hno = #{value}
  </select>
  
    <update id="update" parameterType="hotplace">
    update discount 
    <set> 
      <if test="title != ''">htitle=#{title},</if>
      <if test="content != ''">hcontent=#{content},</if>
      <if test="photo != ''">hphoto=#{photo},</if>
      <if test="latitude != ''">hlat=#{latitude},</if>
      <if test="longitude != ''">hlng=#{longitude}</if>
    </set>
    where hno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from hotplace 
    where hno = #{value}
  </delete>

</mapper>







