<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="com/osk/team/conf/jdbc.properties"></properties>

  <typeAliases>
    <package name="com.osk.team.domain"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/osk/team/mapper/BoardMapper.xml"/>
    <mapper resource="com/osk/team/mapper/ClubMapper.xml"/>
    <mapper resource="com/osk/team/mapper/HotplaceMapper.xml"/>
    <mapper resource="com/osk/team/mapper/MemberMapper.xml"/>
    <mapper resource="com/osk/team/mapper/QnaMapper.xml"/>
    <mapper resource="com/osk/team/mapper/FaqMapper.xml"/>
    <mapper resource="com/osk/team/mapper/DiscountMapper.xml"/>
  </mappers>
</configuration>








